/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Kanit', sans-serif;
ion-tab-button.tab-selected {
  color: #74D7E9;
}
ion-tab-button:hover ion-icon {
  color: #74D7E9;
}
ion-tab-button:hover ion-label {
  color: #74D7E9;
}

/* icon ตอนถูกเลือก */
ion-tab-button.tab-selected ion-icon {
  color: #74D7E9;
}

/* label ตอนถูกเลือก */
ion-tab-button.tab-selected ion-label {
  color: #74D7E9;
}
}